<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/statics/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <h2>Login</h2>

        <form action="/" method="get" id="form1">
            <button class="img" type="submit">
                <img src="/statics/images/home.png">
            </button>
        </form>
    </header>

    <form action="/welcome" method="post">
        <div class="box">
            <h2>Login</h2>
            <input type="text" placeholder="Nome de usuário" id="input_nome_loga" name="login_name">
            <input type="password" placeholder="Senha" id="input_senha_loga" name="login_senha">
            <p id="txt_confirma" name="txt_confirma">   <%= alerta %>   </p>
            <button id="btn_login"><strong>Logar</strong></button>

        </div>
    </form>


</body>

</html>